@page "/traffic"
@using Audionix.Models
@inject ILogger<Home> Logger
@inject IHostEnvironment Environment
@inject AppStateService AppStateService

<PageTitle>Traffic</PageTitle>

<MudPaper>
    <h2 Class="ptb-2 ml-2">Traffic</h2>
</MudPaper>

<MudPaper Width="300px" Class="ml-2">
    <MudStack Row="true">
        <MudDatePicker @bind-Date="trafficDate" Label="Date to Merge" Margin="Margin.Dense" Variant="Variant.Outlined" />
        <MudButton Variant="Variant.Outlined" Color="Color.Primary">Merge</MudButton>
    </MudStack>
</MudPaper>