@page "/categories"
@using Audionix.Models
@inject ILogger<Categories> Logger
@inject ApplicationDbContext DbContext
@inject AppStateService AppStateService
@inject NavigationManager _nav

<PageTitle>Categories</PageTitle>

<MudPaper>
    <h2 Class="ptb-2 ml-2">Categories</h2>
</MudPaper>

<MudPaper Class="ma-2 border-solid border-2 mud-border-primary" MaxWidth="1000px">

    <MudTable Items="filteredCategories"
              ReadOnly=false
              Dense=true
              Bordered=true
              Class="border-solid">
        <HeaderContent>
            <MudTh>Category Name</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.CategoryName</MudTd>
            <MudTd>
                <MudButton Color="Color.Error" OnClick="@(() => DeleteCategory(context.CategoryId))">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudPaper>

<MudPaper Class="ma-2" MaxWidth="1000px">
    <MudStack Row="true">
        <MudTextField @bind-Value="newCategoryName" Label="New Category" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
        <MudButton Class="ma-1" Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddCategory" Size="Size.Small">Add Category</MudButton>
    </MudStack>
</MudPaper>
