@page "/musicschedule"
@using Audionix.Models
@inject ILogger<Home> Logger
@inject IHostEnvironment Environment
@inject ApplicationDbContext DbContext
@inject NavigationManager _nav

<PageTitle>Music Schedule</PageTitle>

<MudPaper>
    <h2 Class="ptb-2 ml-2">Music Schedule</h2>
</MudPaper>

<MudPaper Class="ma-1" Elevation="8">
    <MudStack Row="true" >
        <MudPaper Width="500px">
                <MudStack Row="true" >
                    <MudDatePicker @bind-Date="musicLogDate" Label="Date to Schedule"  Margin="Margin.Dense" Variant="Variant.Outlined" />
                    <MudButton Variant="Variant.Outlined" Color="Color.Primary">Schedule</MudButton>
                </MudStack>
        </MudPaper>
    </MudStack>
</MudPaper>
<MudPaper Style="min-height:calc(100vh - 160px);max-height:calc(100vh - 68px);display:flex;flex-direction:column;" Class="border-solid border-2 mud-border-primary">
    <MudPaper>
@*         <MudPaper Class="ml-1 mr-1 mb-1">
            <h2 Class="ptb-2 ml-2">CHANGE THIS</h2>
        </MudPaper> *@
        <MudStack Row="true">

        </MudStack>
    </MudPaper>
</MudPaper>