@page "/musicschedule"
@using Audionix.Models
@inject ILogger<Home> Logger
@inject IHostEnvironment Environment
@inject NavigationManager _nav

<PageTitle>Music Schedule</PageTitle>

<MudPaper>
    <h2 Class="ptb-2 ml-2">Music Schedule</h2>
</MudPaper>

<MudPaper Class="ma-1" Elevation="8">
    <MudStack Row="true">
        <MudPaper Width="500px">
            <MudStack Row="true">
                <MudDatePicker @bind-Date="MusicLogDate" Label="Date to Schedule" Margin="Margin.Dense" Variant="Variant.Outlined" />
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="SchedulePressed">Schedule</MudButton>
            </MudStack>
        </MudPaper>
    </MudStack>
</MudPaper>

<MudPaper Style="min-height:calc(100vh - 160px);max-height:calc(100vh - 68px);display:flex;flex-direction:column;" Class="border-solid border-2 mud-border-primary">
    <MudPaper>
        <MudStack Row="true">
            <MudTable Items="scheduledSongs" Hover="true">
                <HeaderContent>
                    <MudTh>Title</MudTh>
                    <MudTh>Artist</MudTh>
                </HeaderContent>
                <RowTemplate>
                     <MudTd DataLabel="Title">@context.Title</MudTd>
                    <MudTd DataLabel="Artist">@context.Artist</MudTd>
                </RowTemplate>
            </MudTable>
        </MudStack>
    </MudPaper>
</MudPaper>
