@page "/patterns"
@rendermode InteractiveServer
@inject AudionixDbContext DbContext
@using Audionix.Models
@using Microsoft.EntityFrameworkCore
@inject IDialogService DialogService

<PageTitle>Music Patterns</PageTitle>

<MudPaper>
    <h2 Class="ptb-2 ml-2">Music Patterns</h2>
</MudPaper>

<MudStack Row="true">
<MudPaper Width="500px" Class="ma-1" Elevation="8">
    <MudStack Row="true">
        <MudSelect T="string" Label="Select Template" @bind-Value="selectedMusicPatternName" Margin="Margin.Dense" Variant="Variant.Outlined">
            @foreach (var musicPatternName in MusicPatternNames)
            {
                <MudSelectItem Value="musicPatternName">@musicPatternName</MudSelectItem>
            }
        </MudSelect>
        <MudButton OnClick="OpenDialogRemoveMusicPattern" Class="ma-1" Variant="Variant.Outlined" Color="Color.Primary">Remove Selected Pattern</MudButton>
    </MudStack>
</MudPaper>

<MudPaper Width="500px" Class="ma-1" Elevation="8">
    <MudStack Row="true">
        <MudTextField @bind-Value="newMusicPatternName" Label="New Music Pattern Name" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
        <MudButton OnClick="AddMusicPattern" Class="ma-1" Variant="Variant.Outlined" Color="Color.Primary">Add New Pattern</MudButton>
    </MudStack>
</MudPaper>
</MudStack>

@if (MusicPatternDataList != null)
{
    <MudPaper Class="border-solid border-2 mud-border-primary ma-1">
        <MudDataGrid Items="MusicPatternDataList"
                     Bordered="true"
                     SortMode="SortMode.None"
                     FixedHeader="true"
                     Virtualize="true"
                     Dense="true"
                     Height="80vh">
            <Columns>
 
            </Columns>
        </MudDataGrid>
    </MudPaper>
}
