@page "/patterns"
@using Audionix.Models
@using Audionix.Models.MusicSchedule
@inject ILogger<Categories> Logger
@inject ApplicationDbContext DbContext
@inject NavigationManager _nav

<PageTitle>Patterns</PageTitle>

<MudPaper>
    <h2 Class="ptb-2 ml-2">Patterns</h2>
</MudPaper>

<MudStack Class="ma-2" Row="true">
    <MudPaper MaxWidth="500px">
        <MudStack Row="true">
            <MudSelect Class="ma-1" Margin="Margin.Dense" T="Guid" Label="Station" Value="selectedStationId" ValueChanged="OnStationChanged" Variant="Variant.Outlined">
                @foreach (var station in stations)

                {
                    <MudSelectItem Value="@(station.StationId)">@station.CallLetters</MudSelectItem>
                }
            </MudSelect>
        </MudStack>
    </MudPaper>
</MudStack>



<MudPaper Class="ma-2 border-solid border-2 mud-border-primary" MaxWidth="1000px">

    <MudTable Items="filteredCategories"
              ReadOnly=false
              Dense=true
              Bordered=true
              Class="border-solid">
        <HeaderContent>
            <MudTh>Category Name</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.CategoryName</MudTd>
        </RowTemplate>
    </MudTable>
</MudPaper>

<MudPaper Class="ma-2" MaxWidth="1000px">
    <MudStack Row="true">
@*         <MudTextField @bind-Value="newCategoryName" Label="New Category" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
        <MudButton Class="ma-1" Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddCategory" Size="Size.Small">Add Category</MudButton> *@
    </MudStack>
</MudPaper>


