@page "/traffic"
@using Audionix.Models
@inject ILogger<Home> Logger
@inject IHostEnvironment Environment
@inject AudionixDbContext DbContext

<PageTitle>Traffic</PageTitle>

<MudPaper>
    <h2 Class="ptb-2 ml-2">Traffic</h2>
</MudPaper>

<MudPaper Width="500px" Class="ma-1">
    <MudStack Row="true" >
        <MudSelect Class="mtbl-4" Margin="Margin.Dense" T="string" Label="Station" Variant="Variant.Outlined">
            @foreach (var cnt in DbContext.Stations)
            {
                <MudSelectItem Value="@cnt.CallLetters">@cnt.CallLetters</MudSelectItem>
            }
        </MudSelect>
        <MudDatePicker @bind-Date="trafficDate" Label="Date to Merge" Margin="Margin.Dense" Variant="Variant.Outlined" />
        <MudButton Variant="Variant.Outlined" Color="Color.Primary">Merge</MudButton>
    </MudStack>
</MudPaper>